In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [19]:
#Loading training dataset 
df = pd.read_csv('./data/liar-fake-news-dataset/train.tsv', sep='\t')
df.head()

,2635.json,false,Says the Annies List political group supports third-trimester abortions on demand.,abortion,dwayne-bohac,State representative,Texas,republican,0,1,0.1,0.2,0.3,a mailer
0,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
1,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
2,1123.json,false,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release
3,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN
4,12465.json,true,The Chicago Bears have had more starting quart...,education,robin-vos,Wisconsin Assembly speaker,Wisconsin,republican,0.0,3.0,2.0,5.0,1.0,a an online opinion-piece

In [20]:
df.describe()

                  0             1           0.1           0.2           0.3
count  10237.000000  10237.000000  10237.000000  10237.000000  10237.000000
mean      11.534336     13.287682     17.135391     16.435870      6.202012
std       18.974349     24.113808     35.847862     36.153089     16.129599
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        2.000000      2.000000      3.000000      3.000000      1.000000
75%       12.000000     12.000000     13.000000     11.000000      5.000000
max       70.000000    114.000000    160.000000    163.000000    105.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10239 entries, 0 to 10238
Data columns (total 14 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   2635.json                                                                           10239 non-null  object
 1   false                                                                               10239 non-null  object
 2   Says the Annies List political group supports third-trimester abortions on demand.  10239 non-null  object
 3   abortion                                                                            10237 non-null  object
 4   dwayne-bohac                                                                        10237 non-null  object
 5   State representative                                                                7341 non-null   object
 6   Texas                                                                               8029 non-null   object
 7   republican                                                                          10237 non-null  object
 8   0                                                                                   10237 non-null  float64
 9   1                                                                                   10237 non-null  float64
 10  0.1                                                                                 10237 non-null  float64
 11  0.2                                                                                 10237 non-null  float64
 12  0.3                                                                                 10237 non-null  float64
 13  a mailer                                                                            10137 non-null  object
dtypes: float64(5), object(9)
memory usage: 1.1+ MB

In [22]:
#Dropping NaN values
df.dropna(inplace=True)  # Or df.fillna('Unknown', inplace=True)

In [23]:
#Adding headers for columns 
column_headers = [
    'id', 'label', 'statement', 'subjects', 'speaker', 'speaker_job',
    'state_info', 'party_affiliation', 'barely_true_counts', 'false_counts',
    'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'
]

df = pd.read_csv('./data/liar-fake-news-dataset/test.tsv', delimiter='\t', names=column_headers, header=None)

In [30]:
import spacy
import re

# Load SpaCy's English-language model
nlp = spacy.load('en_core_web_sm')

def preprocess_text(text):
    #replacing non-word characters with a space (special characters etc...)
    text = re.sub(r'\W', ' ', str(text))

    #converting all characters to lower case for uniformity
    text = text.lower()

    #removing single characters
    text = re.sub(r'\s+[a-z]\s+', ' ', text)

    #removing single characters from the start of the text 
    text = re.sub(r'^[a-z]\s+', ' ', text)

    #reducing multiple spaces to 1 single space
    text = re.sub(r'\s+', ' ', text)
    
    #Parcing the text
    doc = nlp(text)
    
    #tokenizing text into words
    processed_text = ' '.join(token.lemma_ for token in doc if not token.is_stop and not token.is_space)
    return processed_text

#Applying the prerpocess function to the "Statement" column
df['cleaned_text'] = df['statement'].apply(preprocess_text)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1267 non-null   object
 1   label                 1267 non-null   object
 2   statement             1267 non-null   object
 3   subjects              1267 non-null   object
 4   speaker               1267 non-null   object
 5   speaker_job           942 non-null    object
 6   state_info            1005 non-null   object
 7   party_affiliation     1267 non-null   object
 8   barely_true_counts    1267 non-null   int64
 9   false_counts          1267 non-null   int64
 10  half_true_counts      1267 non-null   int64
 11  mostly_true_counts    1267 non-null   int64
 12  pants_on_fire_counts  1267 non-null   int64
 13  context               1250 non-null   object
 14  cleaned_text          1267 non-null   object
dtypes: int64(5), object(10)
memory usage: 148.6+ KB

In [32]:
df.describe()

,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,11.770324,13.465667,17.566693,16.912391,6.016575
std,18.980496,23.956307,36.109290,36.499879,15.059981
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,1.000000,0.000000
50%,3.000000,3.000000,3.000000,3.000000,1.000000
75%,12.000000,17.000000,15.000000,14.000000,6.000000
max,70.000000,114.000000,160.000000,163.000000,105.000000

In [33]:
df.shape

(1267, 15)